.game_container{
    background-color: white;
    border-radius: 20px;
    width: 95vw;
    height: 80vh;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". card12 card11 card10 card9 ."
    "card13 . profile3 . . card8"
    "card14 profile4 . . profile2 card7"
    "card15 . card17 card18 . card6"
    "card16 . card19 profile1 . card5"
    ". card1 card2 card3 card4 .";
}

.game_buttons_container{
    background-color: white;
    border-radius: 20px;
    width: 95vw;
    height: 10vh;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.info_container p{
    color: black;
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
}
.card7{
    grid-area: card7;
}
.card8{
    grid-area: card8;
}
.card9{
    grid-area: card9;
}
.card10{
    grid-area: card10;
}
.card11{
    grid-area: card11;
}
.card12{
    grid-area: card12;
}
.card13{
    grid-area: card13;
}
.card14{
    grid-area: card14;
}
.card15{
    grid-area: card15;
}
.card16{
    grid-area: card16;
}
.card17{
    grid-area: card17;
}
.card18{
    grid-area: card18;
}
.card19{
    grid-area: card19;
}
.profile1{
    grid-area: profile1;
}
.profile2{
    grid-area: profile2;
}
.profile3{
    grid-area: profile3;
}
.profile4{
    grid-area: profile4;
}

